# Node.js dependencies
node_modules/

# Environment variables
.env
social-media-app/.env

# Log files
*.log

# Build files
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Uploads directory
uploads/

# IDE specific files
.idea/
.vscode/